AddDefaultCharset utf-8

#Deny from all
#Options All -Indexes

#RewriteEngine on
#RewriteBase /

#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d

#RewriteRule ^(.*)$ /index.php?path=$1 [NC,L,QSA]

#RewriteCond %{SERVER_PORT} !^443$

#RewriteCond %{HTTPS} off
#RewriteCond %{HTTP:X-Forwarded-Proto} !https
#RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]





#RewriteCond %{SERVER_PORT} !^443$
#RewriteCond %{HTTPS} off
#RewriteRule (.*) HTTPS://%{SERVER_NAME}%{REQUEST_URI} [R=301,L]

#RewriteCond %{HTTPS} =off 

#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]

# Options +Includes +FollowSymLinks -Indexes
# AddHandler server-parsed .shtml
# DirectoryIndex index.shtml index.htm index.php index.html
# AddDefaultCharset utf-8
# #commented while migration to cPanel: CookieTracking on
# #commented while migration to cPanel: CookieExpires "1 years"

# # default php version is 5.x.x
# # uncomment next line to use  4.4.9
# # AddType application/x-httpd-php php

# RewriteEngine on 
# RewriteCond %{HTTP_HOST} ^(www\.)?svatikovo.ru$ 
# RewriteRule ^(.*)$ http://www.silbir.ru/$1 [L,R=301]